player-connection-mode=Listen
player-connection-guid=1787426351
player-connection-debug=0
player-connection-project-name=The Forgotten Word
player-connection-ip=192.168.0.101
gfx-enable-gfx-jobs=1
gfx-threading-mode=6
wait-for-native-debugger=0
hdr-display-enabled=0
gc-max-time-slice=3
build-guid=8aae89104265432e8956a135976f5886
